.container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  padding: 20px;
  border: none;
  border-radius: 4px;
  background-color: #380568c8;
  max-width: 70rem;
  display: flex;
  margin: auto 3rem;
  flex-wrap: wrap;
}

